@mixin distance($side , $property) {
    @for $var from 1 to 25 {
       .#{$side}{ 
            &r-#{$var},&x-#{$var},&-#{$var}{
                #{$property}-right: $rem*$var;
            }
            &l-#{$var},&x-#{$var},&-#{$var}{
                #{$property}-left: $rem*$var;
            }
            &t-#{$var},&y-#{$var},&-#{$var}{
                #{$property}-top: $rem*$var;
            }
            &b-#{$var},&y-#{$var},&-#{$var}{
                #{$property}-bottom: $rem*$var;
            }
        }
    }
    
}

@mixin transition($property , $duration){
    -ms-transition: $property  $duration;
    -o-transition: $property  $duration;
    -webkit-transition:  $property  $duration;
    -moz-transition:  $property  $duration;
    transition: $property  $duration;
}
