$primary-color : #c8ce55;
$secondary-color: #12ae90;
$light-color: #fff;
$medium-color: #ccc;
$dark-color: #333;
$site-width: 1280px;
$bg-url: url(../img/development.jpg);
$font-family:Georgia, 'Times New Roman', Times, serif;
$rem: 0.25rem;